body {
    font-family: sans-serif;
}
header {
    background-color: lightblue;
    
}

h1 {
    border: 1px solid black;
    color: purple;
    text-align: center;
}

footer {
 border: 2px solid burlywood; 
 background-color: burlywood;  
}

footer p{
    background-color: white;
}

nav {
    background-color: green;
    padding: 10px;
    margin: 10px;
}
.linku{
    color: white;
}

.foto{
    background-color: green;
    border: 1px solid green;

}

.padding{
    font-size: 20px;
}

.subhead{
    font-size: 20px;
    color: blue;
}
